main.rml rml "rmlui/main.rml"

styles/main-window.rcss	rml "rmlui/styles/main-window.rcss"
styles/body.rcss		rml "rmlui/styles/body.rcss"
styles/widgets/widgets.rcss			rml "rmlui/styles/widgets/widgets.rcss"
styles/widgets/titlebar.rcss		rml "rmlui/styles/widgets/titlebar.rcss"
styles/widgets/scrollbar.rcss		rml "rmlui/styles/widgets/scrollbar.rcss"
styles/widgets/process-list.rcss	rml "rmlui/styles/widgets/process-list.rcss"
styles/widgets/dll-list.rcss		rml "rmlui/styles/widgets/dll-list.rcss"
styles/widgets/multiselect.rcss		rml "rmlui/styles/widgets/multiselect.rcss"
styles/widgets/group.rcss			rml "rmlui/styles/widgets/group.rcss"
styles/widgets/inputs/radio.rcss	rml "rmlui/styles/widgets/inputs/radio.rcss"
styles/widgets/inputs/text.rcss		rml "rmlui/styles/widgets/inputs/text.rcss"

scripts/main-script.lua			rml "rmlui/scripts/main-script.lua"
scripts/filter-processes.lua	rml "rmlui/scripts/filter-processes.lua"
scripts/fill-processes.lua		rml "rmlui/scripts/fill-processes.lua"
scripts/dll-list.lua			rml "rmlui/scripts/dll-list.lua"

icon.ico ICON "window/icon.ico"